<div class="stat-card" [style.border-left-color]="borderColor">
  <div class="stat-content">
    <div class="stat-info">
      <h3 class="stat-title" [style.color]="borderColor">{{ title }}</h3>
      <div class="stat-value">{{ value }}</div>
      <div class="stat-footer">
        <a *ngIf="linkText" href="javascript:void(0)" [style.color]="borderColor">{{ linkText }}</a>
        <span *ngIf="subText" class="sub-text">{{ subText }}</span>
      </div>
    </div>
    <div class="stat-icon-wrapper">
      <i [class]="icon"></i>
    </div>
  </div>
</div>
